*
{
  margin: 0px;
  padding: 0px;
}
.d1
{
  height: 300px;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.d2
{
  height: 300px;
  width: 100%;
  background-color: black;
}
.dd1
{
  height: 200px;
  width: 15%;
  background-color: red;
}
.dd2
{
  height: 200px;
  width: 20%;
  background-color: gray;
  display: inline-block;
  margin-top: 50px;
  margin-left: 4%;
}

 